{% extends "shared/base.html" %}


{% block title %}
  <title>Article Detail</title>
{% endblock %}

{% block content %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5">Article Detail</h1>
    </div>
  </div>

  <div class="row">
      <table class="table table-striped table-hover">
        <tbody>
          <tr>
            <th scope="row">Article Title</th>
            <td colspan="2">{{article.title}}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td colspan="2">{{article.description}}</td>
          </tr>
          <tr>
            <th scope="row">Data Published</th>
            <td colspan="2">{{article.date_posted}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
